####################
## SENSITIVE FILE ##
## DO NOT COMMIT! ##
####################
/export-gh-pat.sh

################
## JetBrains. ##
################
/.idea/
*.iml

##############
## VS Code. ##
##############
/.vscode/
*.vsix

##########
## Vim. ##
##########
/.vimrc
*.swp
*.tmp
